{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% include 'sections/about.html.twig' %}
    {% include 'sections/location.html.twig' %}
    {% include 'sections/lodging.html.twig' %}
{% endblock %}
