{% extends 'baseDone.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% include 'sections/weddingDone.html.twig' %}
{% endblock %}
