<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">{{ 'home.footer.copyright'|trans|raw }}</span>
            </div>
        </div>
    </div>
</footer>
