<!-- Header -->
<header class="masthead" id="header">
    <div class="container">
        <div class="intro-text">
            <h1 class="text-center intro-heading">Il était une fois... <br/><span>Un Mariage</span></h1>
            <div class="picture-holder">
            </div>
        </div>
    </div>
</header>
