<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a href="{{ google_drive_link }}"
       target="_blank"
       id="upload-btn"
       class="btn btn-primary btn-xl btn-outline"><i class="fas fa-upload fa-1x"></i> AJOUTER MES PHOTOS</a>
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="{{ asset('build/assets/images/wedding_logo.png') }}"
                 alt="{{ 'navigation.img.alt'|trans }}"
                 title="{{ 'navigation.img.title'|trans }}">
        </a>
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            {{ 'home.navigation.mobile.title'|trans }}
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path("home") }}">Claire & Bastien</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path("event", {'_fragment': 'header'}) }}">L'évènement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path("event", {'_fragment': 'about'}) }}">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path("event", {'_fragment': 'location'}) }}">Localisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path("event", {'_fragment': 'lodging'}) }}">Hébergement</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
