// Styling for the team section
#location  {
  padding-top: 125px;

  .location-one, .location-two {
    > :last-child {
      margin-top: 20px;
    }

    h3 {
      font-size: 40px;
    }

    padding: 50px 0;
    border-bottom: 2px solid black;
  }

  .location-two {
    margin-top: 30px;
  }

  img {
    border: 4px solid black;
  }
}
