// Styling for the team section
#lodging  {
  padding-top: 125px;

  .lodging-block {
    width: 1200px;
    margin-bottom: 100px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;

    h3 {
      font-size: 35px;
    }

    span {
      font-weight: bold;
    }

    .btn {
      font-size: 30px;
    }

    .ibis-picture {
      max-width: 400px;
    }
  }
}
