// Styling for the masthead
header.masthead {
  text-align: center;
  color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  .intro-text {
    padding-top: 225px;
    padding-bottom: 100px;
    .intro-heading {
      font-size: 65px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }

    .picture-holder {
      background-image: url('../minniemickey.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 400px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .minnie-holder img ,
      .mickey-holder img {
      }
    }

    .countdown-holder {
      #clockdiv {
        font-family: sans-serif;
        color: black;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 15px;
      }

      #clockdiv > div {
        padding: 8px;
        border-radius: 3px;
        background: #D0D0D0;
        display: inline-block;
      }

      #clockdiv div > span {
        padding: 12px;
        border-radius: 3px;
        background: white;
        display: inline-block;
      }

      .smalltext {
        padding-top: 5px;
        font-size: 14px;
      }
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 225px;
      padding-bottom: 135px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 65px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }

      .picture-holder {
        width: 100%;

        img {
          max-width: 10%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 1550px) and (min-width: 990px) {
  header.masthead .intro-text {
    padding-top: 285px;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1366px) {
}
@media only screen and (max-width: 1366px) and (min-width: 450px) {
}
@media only screen and (max-width: 450px) {
  .picture-holder {
    //background-size: ;
  }
  header.masthead {
    .intro-text {
      padding-top: 180px;

      .intro-heading {
        line-height: 85px;
        font-size: 55px;
      }
    }
    .picture-holder {
      height: 270px !important;
    }
  }
}