// Styling for the navbar
#mainNav {
  background-image: url('../bandeau.jpg');
  background-color: white;
  background-repeat: no-repeat;
  border-bottom: 3px solid #00437d;

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $teal;
    @include heading-font;
  }
  .navbar-brand > img {
    &.active,
    &:active,
    &:focus,
    &:hover {
      transform: scale(1.1);
    }

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    max-width: 5em;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 200%;
        font-weight: 600;
        padding: 0.75em 0;
        letter-spacing: 2px;
        color: $midnightblue;
        @include heading-font;
        &.active,
        &:hover {
          color: lighten($midnightblue, 0.5);
        }
      }
    }

    .languages-container {
      display: flex;
      align-items: center;

      .dropdown-menu {
        min-width: 0 !important;
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    //border: none;
    background-color: white;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: white;

      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
