<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Description</h2>
                <h3 class="section-subheading text-muted">
                    Bienvenue sur notre site dédié à notre mariage. En naviguant sur ce site, vous trouverez toutes les informations utiles concernant  les lieux de la cérémonie et du repas, le menu du samedi soir, les différents hôtels où vous pourrez loger… Nous vous souhaitons un agréable voyage dans notre monde.
                </h3>
                <img class="img-fluid d-block mx-auto" src="{{ asset('build/assets/images/b&c.jpeg') }}" alt="">

            </div>
        </div>
    </div>
</section>
