<!-- Location -->
<section id="location">
    <div class="container">
        <div class="row title-row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Localisation</h2>
                <h3 class="section-subheading fonts20">Ici vous trouverez les adresses des événements du mariage</h3>
            </div>
        </div>
        <div class="row location-one">
            <div class="col-lg-12">
                <h3 class="text-center sectiocn-subheading">L'église</h3>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid d-block mx-auto"
                             width="449"
                             src="{{ asset('build/assets/images/eglise-st-james.jpeg') }}"
                             alt="">
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center fonts20">
                        <p class="text-center sectiocn-subheading">Eglise Saint James Paroisse Notre Dame Du Rhone</p>
                        <p class="text-center sectiocn-subheading">à 16h30</p>
                        <p class="text-center sectiocn-subheading">au 23 Avenue Jean Jaurès, 26200 Montélimar</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row location-two">
            <div class="col-lg-12">
                <h3 class="text-center sectiocn-subheading">La Salle de réception</h3>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-fluid d-block mx-auto" src="{{ asset('build/assets/images/espace-teste.jpg') }}" alt="">
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-content-center fonts20">
                        <p class="text-center sectiocn-subheading">Espace Teste</p>
                        <p class="text-center sectiocn-subheading">départ ensemble après la cérémonie à religieuse</p>
                        <p class="text-center sectiocn-subheading">Rue Jean Jacques Menuret 26200 Montélimar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
