<!-- lodging -->
<section id="lodging">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hébergements</h2>
                <h3 class="section-subheading">Voici la liste de plusieurs hôtels proches du lieu des festivités. </h3>
            </div>
        </div>
        <div class="row">
            <div class="lodging-block">
                <div class="col-lg-12">
                    <h3 class="text-left">Welcomotel</h3>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="img-fluid d-block mx-auto"
                                 src="{{ asset('build/assets/images/lodging/welcomotel.jpg') }}"
                                 alt="welcomotel">
                        </div>
                        <div class="col-lg-6 d-flex flex-column justify-content-end">
                            <p class="text-left"><span>Adresse:</span> 25 Avenue John Kennedy, 26200 Montélimar</p>
                            <p class="text-left"><span>Prix par nuit:</span> De 45 à 55€</p>
                            <p class="text-left"><span>Petit dejeuner:</span> 5,90€</p>
                            <p class="text-left"><span>Distance depuis "Espace Teste":</span> 5km ~9min</p>
                            <a href="http://www.booking.com/Share-LQjdzj" target="_blank" class="btn btn-primary btn-block">Plus détails</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="lodging-block">
                <div class="col-lg-12">
                    <h3 class="text-left">Hôtel Beausoleil</h3>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="img-fluid d-block mx-auto"
                                 src="{{ asset('build/assets/images/lodging/lebeausoleil.jpg') }}"
                                 alt="welcomotel">
                        </div>
                        <div class="col-lg-6 d-flex flex-column justify-content-end">
                            <p class="text-left"><span>Adresse:</span> 14bis Boulevard du Pêcher, 26200 Montélimar</p>
                            <p class="text-left"><span>Prix par nuit/chambre:</span></p>
                            <ul>
                                <li>Individuel 70€</li>
                                <li>Double 78€ / Double avec terrasse 89€</li>
                                <li>Triple 92€</li>
                                <li>Quadrulple 115€</li>
                            </ul>
                            <p class="text-left"><span>Petit dejeuner:</span>9€</p>
                            <p class="text-left"><span>Distance depuis "Espace Teste":</span> 4,2km ~10min</p>
                            <a href="http://www.beausoleil-montelimar.com/fr/" target="_blank" class="btn btn-primary btn-block">Plus détails</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lodging-block">
                <div class="col-lg-12">
                    <h3 class="text-left">Ibis Budget</h3>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="ibis-picture img-fluid d-block mx-auto"
                                 src="{{ asset('build/assets/images/lodging/ibis.png') }}"
                                 alt="Ibis budget">
                        </div>
                        <div class="col-lg-6 d-flex flex-column justify-content-end">
                            <p class="text-left"><span>Adresse:</span> 14 Rue de Dion Bouton, 26200 Montélimar</p>
                            <p class="text-left"><span>Prix par nuit:</span> De 68€ à 115€</p>
                            <p class="text-left"><span>Petit dejeuner:</span> 5€ (enfant) 8,5€</p>
                            <p class="text-left"><span>Distance depuis "Espace Teste":</span> 2,5km ~5min</p>
                            <a href="https://www.accorhotels.com/fr/hotel-5089-ibis-budget-montelimar/index.shtml#origin=ibis" target="_blank" class="btn btn-primary btn-block">Plus détails</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lodging-block">
                <div class="col-lg-12">
                    <h3 class="text-left">Kyriad</h3>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="img-fluid d-block mx-auto"
                                 src="{{ asset('build/assets/images/lodging/kyriad.png') }}"
                                 alt="Ibis budget">
                        </div>
                        <div class="col-lg-6 d-flex flex-column justify-content-end">
                            <p class="text-left"><span>Adresse:</span> 8 Boulevard du Pêcher, 26200 Montélimar</p>
                            <p class="text-left"><span>Prix par nuit/chambre:</span></p>
                            <ul>
                                <li>Individuel 85€</li>
                                <li>Double 95€</li>
                                <li>Triple 120€</li>
                            </ul>
                            <p class="text-left"><span>Petit dejeuner:</span> inclus avec la chambre</p>
                            <p class="text-left"><span>Distance depuis "Espace Teste":</span> 4,2km ~10min</p>
                            <a href="https://www.kyriad.com/fr" target="_blank" class="btn btn-primary btn-block">Plus détails</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
