<!-- Header -->
<header class="masthead" id="header">
    <div class="container">
        <div class="intro-text">
            <h1 class="text-center intro-heading">Il était une fois... <br/><span>Un Mariage</span></h1>
            <img class="img-fluid d-block mx-auto" src="{{ asset('build/assets/images/b&cDone.jpg') }}" alt="">
        </div>
        <div class="upload-rules justify-center">
            <div class="margin-bot40">
                <p>1- Cliquer sur le lien en dessous</p>
                <p>2- Ajouter les photos en choissisant l'option <b>Choisir des fichiers</b></p>
                <p>3- Remplisser les champs <b>Prénom, Nom, Adresse e-mail</b> et cliquer sur <b>Importer</b></p>
                <p>4- C'est bon! <i class="far fa-thumbs-up"></i> les photos sont transmisent aux mariés</p>
            </div>
            <a href="{{ google_drive_link }}"
               id="upload-btn"
               target="_blank"
               class="btn btn-primary btn-xl btn-outline"><i class="fas fa-upload"></i> AJOUTER MES PHOTOS</a>
        </div>
    </div>
</header>
