<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="benardq@gmail.com">
    <meta name="author" content="benardq@gmail.com">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{{ asset('build/assets/images/w.wedding_logo.png') }}">

    <title>{{ 'html_titleprefix'|trans }}{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body id="page-top">
{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}
    {% include 'partials/navigation.html.twig' %}
    {% include 'partials/header.html.twig' %}
    {% block body %}{% endblock %}
{% include 'partials/footer.html.twig' %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
{% endblock %}
</body>
</html>
